<li>
	<div class="chats">
		<span class="">Имя</span>
		<span class="chats_date">14 часов назад...</span>
		<span class="chats_text">
			Из-за этих двух возможных вариантов подъем функции потенциально 
			может сбить с толку, поэтому не рекомендуется применять на практике...
		</span>
	</div>
</li>