<li>
	<div class="chat_message">
		<div class="chat_message_date">14:47</div>
		<div class="chat_message_text">
			псевдонимов ( type )<br>
			интерфейсов, объявленных с помощью ключевого слова interf<br>
			классов ( class ), в том числе классовых выражений (class expres<br>
			функций ( function ) определенных в виде как деклараций (Func<br>
			выражений (Function Expression)<br>
			методов (method)
		</div>
	</div>
</li>	