<label>
    <span>Пароль</span>
    <input type="text" name="password" value="" placeholder="пароль">
</label>
<label>
    <span>Повторите пароль</span>
    <input type="text" name="repitpassword" value="" placeholder="повтор пароля">
</label>