<label>
    <span>Почта</span>
    <input type="text" name="email" type="email" value="@">
</label>
<label>
	<span>Логин</span>
	<input type="text" name="login" value="логин">
</label>
<label>
	<span>Имя</span>
	<input type="text" name="first_name" value="имя">
</label>
<label>
    <span>Фамилия</span>
    <input type="text" name="second_name" value="фамилия">
</label>
<label>
    <span>Телефон</span>
    <input type="text" name="phone" value="номер телефона">
</label>
