<label>
    <span>Почта</span>
    <input type="text" name="email" type="email" value="@" disabled>
</label>
<label>
	<span>Логин</span>
	<input type="text" name="login" value="логин" disabled>
</label>
<label>
	<span>Имя</span>
	<input type="text" name="first_name" value="имя" disabled>
</label>
<label>
    <span>Фамилия</span>
    <input type="text" name="second_name" value="фамилия" disabled>
</label>
<label>
    <span>Телефон</span>
    <input type="text" name="phone" value="номер телефона" disabled>
</label>
