<link rel="stylesheet" type="text/css" href="../components/menu/nav.menu.scss" />
<ul class="nav_menu">    
	<li><br></li>   
	<li><a href="auth/login.hbs">Login</a><div class="sep"></div></li>
	<li><a href="auth/signin.hbs">Регистрация</a><div class="sep"></div></li>
	<li><br></li>
	<li><a href="404/404.hbs">404</a><div class="sep"></div></li>
	<li><a href="500/500.hbs">500</a><div class="sep"></div></li>
	<li><br></li>
	<!--<li><a href="main.hbs">Выбрать чат</a></li>-->
	<li><a href="main.hbs">Чат</a><div class="sep"></div></li>
	<!--<li><a href="">Поиск</a></li>
	<li><a href="">Функции чата</a></li>
	<li><a href="">Добавить/удалить пользователя</a></li>-->
	<li><br></li>
	<li><a href="profile/profile.hbs">Профиль</a><div class="sep"></div></li>
	<li><a href="profile/edit.profile.hbs">Изменить данные</a><div class="sep"></div></li>
	<li><a href="auth/newpassword.hbs">Изменить пароль</a><div class="sep"></div></li>
	<li><br></li>
	<li><a href="profile/newavatar.hbs">Новый аватар</a><div class="sep"></div></li>
</ul>