ul.nav_menu {
	font-size: 12px;
	margin-top: 10px;
	list-style:none;
	width:97%;
	min-width:130px;
}
ul.nav_menu a {
	color:#000;
	text-decoration:none;
}
ul.nav_menu li {
	padding:0 0px 0 10px;
	position:relative;
	line-height: 1.7;
	width: auto;
}
ul.nav_menu li.act {
	color:red;
	/*background: rgba(230,226,178,.95);*/
	padding-top:1px;
}
ul.nav_menu li a:hover {
	color:gray;
}
ul.nav_menu li div.sep {
	border-top: 1px solid rgba(0, 0, 0, 0.102);
	border-bottom: 1px solid rgba(255, 255, 255, 0.202);
}


