<!DOCTYPE html>
<html lang="ru">
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="newpassword.scss" />
</head>
<body>
<main>
	<div class="page_basic_center">
		<div class="new_password_form">
			<div class="container">
				<div class="box_line_1"> 
					<p>Изменение пароля</p>
				</div>
				<div class="box_line_2">
					<form>
						<label>
							<span>Текущий пароль</span>
							<input type="text" name="oldPassword" placeholder="текущий пароль" value="">
						</label>
						<label>
							<span>Новый пароль</span>
							<input type="text" name="newPassword" placeholder="новый пароль" value="">
						</label>
						<label>
							<span>Повторите новый пароль</span>
							<input type="text" name="newPassword2" placeholder="Повторите новый пароль" value="">
						</label>
					</form>
				</div>
				<div class="box_line_3"> 	
					<div class="parent">
						{{>button/new.password.btn}}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>
