<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="newpassword.scss" />
</head>
<body>
<main>
	<div class="page_basic_center">
		<div class="new_password_form">
			<div class="container">
				<div class="box_line_1"> 
					<h1>Изменение пароля</h1>
				</div>
				<div class="box_line_2">
					<div class="parent">
						<div class="left">
							<p style=''>Текущий пароль</p>
							<p style=''>Новый пароль</p>
							<p style=''>Повторите новый пароль</p>
							
						</div>
						<div class="right"> 
							<form>
								<p style=''><label><input type="text" name="oldPassword" placeholder="текущий пароль" value=""></label></p>
							<p style=''><label><input type="text" name="newPassword" placeholder="новый пароль" value=""></label></p>
							<p style=''><label><input type="text" name="newPassword2" placeholder="Повторите новый пароль" value=""></label></p>
						

						
							</form>
						</div>
					</div>
				</div>
				<div class="box_line_3"> 	
					<div class="parent">
						{{>button/new.password.btn}}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>