<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="edit.profile.scss" />
</head>
<body>
<main>
	<div class="page_basic_center">
		<div class="edit_profile_form">
			<div class="container">
				<div class="box_line_1"> 
					<h1>Изменение данных</h1>
				</div>
				<div class="box_line_2">
					<div class="parent">
						<div class="left">
							<p style=''>Почта</p>
							<p style=''>Логин</p>
							<p style=''>Имя</p>
							<p style=''>Фамилия</p>
							<p style=''>Имя в чате</p>
							<p style=''>Телефон</p>
						</div>
						<div class="right"> 
							<form>
								<p style=''><label><input type="text" name="email" value="" placeholder="почта"></label></p>
							<p style=''><label><input type="text" name="login" value="" placeholder="логин"></label></p>
							<p style=''><label><input type="text" name="first_name" value="" placeholder="имя"></label></p>
							<p style=''><label><input type="text" name="second_name" value="" placeholder="фамилия"></label></p>
							<p style=''><label><input type="text" name="display_name" value="" placeholder="имя в чате"></label></p>
							<p style=''><label><input type="text" name="phone" value="" placeholder="номер телефона"></label></p>
								</form>
						</div>
					</div>
				</div>
				<div class="box_line_3"> 	
					<div class="parent">
						{{>button/edit.profile}}
														
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>