<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="newavatar.scss" />
</head>
<body>
<main>
	<div class="page_basic_center">
		<div class="new_avatar_form">
			<div class="container">
				<div class="box_line_1"> 
						<div class="avatar">
		<span>
			<img class="img" src="/images/1.jpg" border="0" width="100" height="75">
			
			<i class="circle"/></i>
		</span>
</div>
					<h1>Загрузите файл</h1>
				</div>
				<div class="box_line_2">
					
					<form method=post enctype="multipart/form-data"> 
	<!--<span>Выберите файл на компьютере</span>-->
	 <input class="btn3" type="file" id="file" name="UserFile"> 
	<!--<input type=submit value=Загрузить>--> 
</form>
				</div>
				<div class="box_line_3"> 	<button class="btn" type="submit" name="submit">Загрузить</button> 
				</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>