@font-face{
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{font-family: Inter, Arial, Helvetica, sans-serif; width:100%;-max-width:1250px;-min-width:1000px;margin:0 auto;
color: #000;
} 
.page_center{
	margin: 0;
  	padding: 0;
  	display: flex;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
}
 .container {
	/*line-height: 1.3em;*/
	margin-top:2%;
	width: 400px;
	display: grid;
	/*gap: 10px;*/
	padding:20px;
	background: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
	border-radius: 6px;
   	/*text-align: center;
	align-items: center;
  	justify-content: center;*/
	position:relative;
}
.box_line_1, .box_line_2 {
	display: grid;
	place-items: center;
}
.box_line_2 input {
	outline:none;
	border: none;
	width: 100%;
	background: #FFFFFF;
	color: #1E1E1E;
	text-align: right;	
	/*border-bottom: 1px solid gray;*/
  }
.box_line_2 label
{
	width: 100%;
	display: flex;
	border-bottom: 1px dotted gray;
	line-height: 2em;
	font-size: 14px;
}
.box_line_2 label span {
	/*display: block;
	width: max-content;*/
 }
 .box_line_3 {
	margin-top:50px;
	display: grid;
	place-items: left;
}
.box_line_3 label {
	display: block;line-height: 2em;
  	text-align: left;
  	align-items: left;
  	justify-content: left;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	width: 40%;
}
.box_line_3 label a{text-decoration: none;}
.box_line_3 label a:hover{text-decoration: underline;}
.avatar{
	padding: 0px;text-decoration: none; vertical-align: top;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.avatar  a:hover{ text-decoration: none;}
.avatar span {display: block;float: left;height: 75px;width: 100px;-height: 36px;-width: 36px;
	margin: 9px 0px 0px;
	overflow: hidden;padding: 0px;position: relative;}
.avatar .img {width: 100px;display: block;}
.avatar .circle {border: 36px solid #fff/*#FAFAFA*/;box-shadow: inset 0px 0px 4px #333;
	border-radius: 100%;display: block;-height: 36px;
	left: -36px;-left: -50px;margin: 0px;padding: 0px;
	position: absolute;-top: -36px;top: -36px;-width: 36px;height: 75px;width: 75px;}
