<!DOCTYPE html>
<html lang="ru">
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="500.scss" />
</head>
<body>
<main>
	<div class="page_basic_center">
		<div class="_500_form">
			<div class="container">
				<div class="box_line_1"> 
					<p>500</p>
				</div>
				<div class="box_line_2">
					<div class="parent">
						<div class="left">
							<p>500</p>
						</div>
						<div class="right"> 
							<p>веб-сервер не может обработать запрос</p>
						</div>
					</div>
				</div>
				<div class="box_line_3"> 	
					<span><a href="/index.hbs">назад к чатам</a></span>	
				</div>
					</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>
