.btn{
	border-radius: 8px;
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 13px;
	padding: 8px 16px;
	color: #FFFFFF;
	background: #3369F3;
	border: 0;
	width: 280px;
	height: 37px;
}
.btn:hover{
	background: #999;
	color: #000;
}	
