@font-face{
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*@mixin fontProps // @include fontProps;
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}*/