html,body{width:100%;height:100%;margin:0;padding:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,table,th,td,hr{margin:0;padding:0}
fieldset,img{border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
a{color:#05c;text-decoration:none}
a:hover{text-decoration:none;}
ul{list-style: none;}
@font-face{
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{font-family: Inter; width:100%;-max-width:1250px;-min-width:1000px;margin:0 auto;color: #000;} 
.main_content {
	width:99%;margin:0 auto;
	height:100%;
    top:0px;
    bottom:0px;
}  
/*------------------------------*/
#nav-btn{ 
    border-bottom: 17px double gray; 
    border-top: 6px solid gray; 
    content:"";
    height: 5px; 
    width:30px;
	margin: 5px;
}
.left_sidebar{
	float:left;
	position: relative;
	top:0; 
	bottom:0;
	width: 155px;
	padding:10px 0;
    z-index:100;
}
.v_block{
	top: 0%;
	right: auto;
	bottom: 0;
	/*font-weight: normal;
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 110%;*/
	z-index: 5000;
	overflow: hidden;
	width:40px;	
	box-shadow:  0px 0px 5px rgba(0,0,0,.3);
	background:  rgba(230,226,178,.95) url(/images/extender-right.png) no-repeat 50%; 
}
.v_block ul{
	display: none;/*
	list-style: none;
	width: 100%;
	padding: 0;
	display: none;
	min-width:130px;
	overflow: auto;*/
}
.v_block:hover ul{display: block;}
.v_block:hover{
	z-index: 5000;
	width:auto;	
	padding: 0 1%;
	overflow-y: auto;
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.3);-moz-box-shadow: 0px 2px 4px rgba(0,0,0,.3);
    -ms-box-shadow: 0px 2px 4px rgba(0,0,0,.3);box-shadow: 0px 0px 4px rgba(0,0,0,.3); 
}
/*------------------------------------------------*/
.block_layout_right { 
	left: 50px;
	margin: 0px !important;
	right: 0px;
	width: auto;
	z-index: 1;
	float: left;
	bottom: 0px;
	padding: 0px !important;
	position: absolute !important;
	top: 0px;
}
.block_layout_right_first_panel { 
	width: 23%;
	bottom: 0px;
	left:0px;
	top: 0px;
	position:absolute;
}
.block_layout_right_second_panel { 
	/*background: rgba(250,250,250,.85);*/
	margin-left: 0.8%;
	width:75.5%;
	top: 0px;
	bottom: 0px;
	position:absolute !important;
}
.content_in_block { 
	width:100%;
	height:100%;
	overflow-y:auto;
	bottom: 0px;
	top: 0px;
	padding:0 5px;
}	
/*--------------------------------------------*/
.fixed{position: fixed;}
.clear{clear:both;height:0px;}
.top_line{
	position:absolute;
	top:0;
	left: 0;
	right:0;
	bottom:auto;
	height:50px;
	margin-right:6px;
	z-index:9999;
	background: #fff; /*rgba(230,226,178,.9);*/
	border-bottom: 1px solid gray;
}
.bottom_line{
	border-top: 1px solid gray;
	position:absolute;
	bottom:1px;
	left: 0;
	right:0;
	-height:70px;
	margin-right:6px;	
	background: #fff;
	text-align: center;
	align-items: center;
	justify-content: center;
}
/*--------------*/

.bottom_line input{
	outline:none;
	border: none;
	width: 100%;
	height: 30px;
	color: #1E1E1E;
}
.bottom_line .container  {
	width: 100%;
	display: grid;
	margin-top: 10px;
	margin-bottom: 10px;	
}
.bottom_line .container .parent {
	display: table;
	/*display:inline-block;*/
	width: 100%;
	text-align: center;
  	align-items: center;
  	justify-content: center;
}
.bottom_line .container  .parent .left p {border-bottom:1px dashed #ccc;}
.bottom_line .container  .left {
	border: 1px solid gray;
   	text-align: left;
	display: table-cell;
	width:inherit;
}
.bottom_line .container  .parent .right p{border-bottom:1px solid #ccc;}
.bottom_line .container  .parent .right {
	display: table-cell;
	text-align: right;
}
/*-----------------------------------------*/
.btn{
border-radius: 8px;
text-align: center;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 13px;
padding: 8px 16px;
color: #FFFFFF;
background: #3369F3;
border: 0;
---width: 150px;
height: 37px;
}
.btn:hover{
background: #999;
color: #000;
}	
/*-----------------------------------------*/
.chats {
	padding: 5px;
	text-decoration: none;
	margin: 5px;
	color:#333;
	font-size: 12px;
    line-height: 1.3;
	position: relative;
	quotes: none;
	border:1px solid #ccc;
	background: #f3f6f8;
	display: block;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px; 
}
.chats:hover{
	background: #fff;
	border:1px solid #000;
}
.chats_date {
	display: block;
	font-size: 11px;
	line-height: 15px;
    margin: 2px 0px;
	padding: 0px;
	color: #999;
}
.chat_message  {
	width: 98%;
	margin: 5px;
	padding: 5px;color:#333;
	font-size: 12px;
    line-height: 1.3;
	position: relative;
	border:1px solid #ccc;
	background: #f3f6f8;
	display: block;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
}
.chat_message:hover{ background: #ccc;  }
.chat_message_date {
	display: block;
	text-align: right;
	font-size: 11px;
	line-height: 15px;
    margin: 2px 0px;
	padding: 0px;
	color: #999;}
/*----------------------------------------------------*/
