<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>{{>"title/title"}}</title>
</head>
<body>
	<header> </header>
<main>
	<h1>Список страниц</h1>
    <nav>
		<ul> 
		  <li><a href="auth/login.hbs">Login</a></li>
		  <li><a href="auth/signin.hbs">Регистрация</a></li>
		  <li><br></li>
		  <li><a href="404/404.hbs">404</a></li>
		  <li><a href="500/500.hbs">500</a></li>
		  <li><br></li>
		  <!--<li><a href="main.hbs">Выбрать чат</a></li>-->
		  <li><a href="main.hbs">Чат</a></li>
		  <!--<li><a href="">Поиск</a></li>
		  <li><a href="">Функции чата</a></li>
		  <li><a href="">Добавить/удалить пользователя</a></li>-->
		  <li><br></li>
		  <li><a href="profile/profile.hbs">Профиль</a></li>
		  <li><a href="profile/edit.profile.hbs">Изменить данные</a></li>
		  <li><a href="auth/newpassword.hbs">Изменить пароль</a></li>
		  <li><br></li>
		  <li><a href="profile/newavatar.hbs">Новый аватар</a></li>
		</ul>
	</nav> 
</main>
</body>
</html>  
 
 