<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>{{>"title/title"}}</title>
</head>
<body>
<header></header>
<main>
    <div class="main_content">
        {{> "block.left"}}    
        {{> "block.right"}}
     </div>
</main>
</body>
</html>  
