<div class="block_layout_right_first_panel" style="-right: 68.2%/*54.7em*/;">
	<div class="content_in_block">
		<ul class="chat">
			{{>"chat/chat"}}
		  	{{>"chat/chat"}}
		   	{{>"chat/chat"}}
		    {{>"chat/chat"}} 
			{{>"chat/chat"}}
		  	{{>"chat/chat"}}
		   	{{>"chat/chat"}}
		  	{{>"chat/chat"}}
		</ul>
	</div>
</div>