@font-face{
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{font-family: Inter; width:100%;-max-width:1250px;-min-width:1000px;margin:0 auto;
	color: #000;
	}   
.page_basic_center{
	margin: 0;
  	padding: 0;
  	display: flex;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
}
._404_form{
	margin-top: 20px;
	padding:20px;
	background: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
	border-radius: 12px;
  	display: flex;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
	position:relative;
}
._404_form .container {
	line-height: 1.3em;
	width: 100%;
	display: grid;
	gap: 50px;
}
.box_line_1, .box_line_2, .box_line_3{
	display: grid;
	place-items: center;
}
.box_line_3 .parent {
  	text-align: left;
  	align-items: left;
  	justify-content: left;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
}
.box_line_3  span{display: block;margin-top:10px;line-height: 1.7em;	place-items: center;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;}
.box_line_3 .parent span a{text-decoration: none;}
.box_line_3 .parent span a:hover{	text-decoration: underline;}
.box_line_2 .parent {
	display: table;
	/*display:inline-block*/
	width: 100%;
	text-align: center;
  	align-items: center;
  	justify-content: center;
	
}
.parent .left {
   	text-align:center;
  	/*font-style: normal;
	font-weight: 500;
	font-size: 13px;*/
	display: table-cell;
	width: 300px;
	border-right:1px solid #ccc;
}
.box_line_2 .parent .right p{border-bottom:1px solid #ccc;}
.box_line_2 .parent .right {
    width: 49%;
	display: table-cell; 
  	/*text-align: right;
  	font-style: normal;
	font-weight: 500;
	font-size: 13px;*/	
}