<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="404.scss" />
</head>
<body>
<main>
	<div class="page_basic_center">
		<div class="_404_form">
			<div class="container">
				<div class="box_line_1"> 
					<h1>404</h1>
				</div>
				<div class="box_line_2">
					<div class="parent">
						<div class="left">
							404
						</div>
						<div class="right"> 
							страница не найдена
						</div>
					</div>
				</div>
				<div class="box_line_3"> 	
					<span><a href="/index.hbs">назад к чатам</a></span>	
				</div>
					</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>